<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.dao.StudentMapper">
	<resultMap id="BaseResultMap" type="com.user.entity.Student">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
	</resultMap>

	<resultMap id="StudentResult" type="com.user.entity.Student">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<!-- 集合  调用其他查询的结果集进行封装 -->
		<collection property="courses" column="id"
			select="com.user.dao.StudentCourseMapper.getCourseByStudentId"></collection>
	</resultMap>
	<sql id="Base_Column_List">
		id, name
	</sql>

	<!-- 注意查询的结果集的映射关系 -->
	<select id="selectByPrimaryKey"
		parameterType="java.lang.String" resultMap="StudentResult">
		select
		<include refid="Base_Column_List" />
		from tb_student
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.String">
		delete from tb_student
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.user.entity.Student">
		insert into tb_student (id, name)
		values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.user.entity.Student">
		insert into tb_student
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.user.entity.Student">
		update tb_student
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.user.entity.Student">
		update tb_student
		set name = #{name,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>